.container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 300px;
    /* margin: 0 auto; */}
label {
    font-size: 14px;
}
input {
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    padding: 10px;
    background-color: #3498db;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #2980b9;
}